*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    text-align: center;
    margin: 16em 0;
}

h1{
    font-size: 3rem;
}

h2{
    font-size: 3rem;
}

#container .btn{
    padding: .75em 2.5em;
    background-color: transparent;
    margin: 1em;
    border-radius: 0.75rem;
    text-transform: uppercase;
}

#container .btn:hover{
    background-color: black;
    color: white;
}